*{
    box-sizing: border-box;
}
body{
    margin:0;
    font-family:Arial,sans-serif;
    background-color:#fff5f7;
    color:#4d3338;
}
/*LOGIN AND REGISTER */

.box{
    width:360px;
    background-color:white;
    padding:30px;
    margin:80px auto;
    border-radius:15px;
    text-align:center;
    box-shadow:0 3px 12px #d9b5bc;
    border-top:5px solid #f47b91;
}
.logo{
    color:#e85d75;
    color:#777;
}
h2{
    color:#e85d75;
    margin-bottom:5px;
}
.box p{
    font-size:14px;
    color:#777;
}
form{
    text-align:left;
}
label{
    display:block;
    margin-top:15px;
    margin-bottom:5px;
    font-weight:bold;
}
input{
    width:100px;
    padding:11px;
    border:1px solid #e5b5be;
    border-radius:6px;
}
input.focus{
    outline:none;
    border-color:#f47b91;
}
button{
    width:100px;
    padding:11px;
    margin-top:20px;
    border:none;
    border-radius:6px;
    background-color:#f47b91;
    color:white;
    font-weight:bold;
    cursor:pointer;
}
button:hover{
    background-color: #e85d75;
}
a{
    color:#e85d75;
    text-decoration:none;
    font-weight:bold;
}
.dashboard{
    background-color: white;
    padding:20px;
    border-radius:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.header {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
    margin: 0;
}

.header button {
    width: 100px;
    margin: 0;
}

.welcome {
    background-color: #ffe1e7;
    padding: 30px;
    margin-top: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.dashboard-logo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

.welcome h1 {
    color: #e85d75;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.card {
    background-color: white;
    padding: 20px;
    flex: 1;
    border-radius: 10px;
    box-shadow: 0 3px 10px #e4c5ca;
}

.card h3 {
    color: #e85d75;
}